body { 
  padding-top: 70px;
  background-color: #DA667B;
 }

.navbar{
  background-color: #DA667B;
}
.container-fluid{
  background-color: #342A21;
}
.navbar-header .navbar-collapse{
  background-color: #C9B79C;
}

.section1{
display: flex;
justify-content: center;
/* flex-flow: nowrap; */
/* background-size: cover; */
/* width: 100%; */
object-fit: cover;
}
.section2-left{
  display: flex;
  padding-left: 5%;
  background-color: #F1E0C5;
  }
 .section2-left-column{
   display: flex;
   height: 700px;
 } 
 .jumbotron{
   background-color: #F1E0C5;
 }
.section2-image1, .section2-image2{
padding: 2% 0 2% 2%;
/* margin-left: 2%; */
}
.section2-left{
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  height: 530px;
}
.carousel_container{
  display: flex;
  justify-content: center;
}
.carousel_logos{
  height: 200px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.grid-garden{
  display: flex;
  flex-wrap: wrap-reverse;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}