body { 
  padding-top: 70px;
  background-color: #DA667B;
 }

.navbar{
  background-color: #DA667B;
}
.container-fluid{
  background-color: #342A21;
}
.navbar-header .navbar-collapse{
  background-color: #C9B79C;
}

.section1{
display: flex;
justify-content: center;
/* flex-flow: nowrap; */
/* background-size: cover; */
/* width: 100%; */
object-fit: cover;
}
.section2-left{
  display: flex;
  padding-left: 5%;
  background-color: #F1E0C5;
  }
 .section2-left-column{
   display: flex;
   height: 700px;
 } 
 .jumbotron{
   background-color: #F1E0C5;
 }
.section2-image1, .section2-image2{
padding: 2% 0 2% 2%;
/* margin-left: 2%; */
}
.section2-left{
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  height: 530px;
}
.carousel_container{
  display: flex;
  justify-content: center;
}
.carousel_logos{
  height: 200px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}
.grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-gap: 5px;
}
.grid-container > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 30px;
  background-color: black;
}

.grid-container > img{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}

.section5, .section6{
  display: flex;
  justify-content: center;
}


.contactus-one .contact-form .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  background-color: transparent;
  color: #342A21;
  height: 50px;
}
.contactus-one .contact-form .form-control {
  border-bottom: 1px solid #ccc;
  box-shadow: none;
}
.contact-info > div > p {
  margin-bottom: 10px;
}
.contactus-one .contact-info p i {
  margin-right: 15px;
  color: #ee2b63;
}
.contactus-one .dart-headingstyle-one .dart-heading:after{
  left:15px;
}

::placeholder{
  color: #342A21;
}

.normal-btn {
background: #ee2b63 none repeat scroll 0 0;
border-radius: 5px;
border-style: solid;
margin-bottom: 10px;
margin-top: 10px;
text-transform: uppercase;
}
